<div class="container">
  <h4><%= link_to "Return to Simpson's products", products_path %></h4>
</div>
<hr>

  <h3>List of titles</h3>
<div class="container">
    <% data = JSON.parse(@response) %>
    <% data["results"]["books"].each do |book| %>
      <%= book["title"].titleize %>
      <br>
    <% end %>
</div>

<hr>
<div class="container">
  <%=  @response %>
</div>
