<div class="row">
  <div class="col-md-12" align="center">
    <div class="thumbnail">
    <p><%= link_to product.name, product_path(product) %> | <%= number_to_currency product.price %>
    <p><%= product.description %>
    </div>
  </div>
</div>
