<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand"><%= link_to "Simpsons Action Figures Outlet", products_path %></div>
    </div>
      <ul class="nav navbar-nav">
        <% if @order_items %>
         <% else %>
          <li><%= link_to "Shopping cart", '/cart' %></li>
        <% end %>
      </ul>
    <ul class="nav navbar-brand navbar-right">
      <li>Test</li>
    </ul>
  </div>
</nav>
